/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container Image {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container Button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  cursor: pointer;
  border-radius: 5px;
}
